* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	
	font-family: 'Roboto', sans-serif;

}

header {
	background-color: black;
	height: 50px;
	position: relative;
	padding-left: 15px;
	border-bottom: 4px solid #FBD343;
}

header ul {
  list-style-type: none;
}

header ul li a{
	text-decoration: none;
	color: #00BEFF;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%)
}

/* ============================================== */

.quizzes {
	background-color: black;
	height: 300px;
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.quizzes h1 {
	color: white;
}

.quizzes a {
	color: #FBD343;
}

.quizzes-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}

.past-quizzes {
	background-color: #FBD343;
	height: 300px;
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.past-quizzes-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;

}

/* ===================================================== */

.list {
	background-color: black;
	width: 50%;
	height: 500px;
	float: left;
	border-right: 2px solid #FBD343;
	padding: 20px 50px 0 20px;
}

.buttons button {
	background-color: #FBD343;
	padding: 2px;
	font-weight: 700;
	margin-right: 5px;
}

.buttons label {
	color: white;
	font-size: .5em;
}

.list p {
	color: white;
}

.detailWrapper {
	background-color: #E4E4E4;
	width: 50%;
	height: 500px;
	float: left;
	border-left: 2px solid #FBD343;
	padding: 40px 20px 20px;
}

.saveBtn {
	background-color: #FBD343;
	padding: 2px;
	font-weight: 700;
}



















